.nav-link{
    margin-left: 40px;
}

.anchor{
    text-decoration: none;
    color: #666666;
}

a{
    text-decoration: none;
}

#uniImg{
    height: 3.2rem;
}

#supportHero{
    background-color: rgb(56, 126, 209);
    color: white;
}

#supportWrapper{
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
}